body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(211, 187, 232);  
}

.container{
    /* width:400px; */
    padding:20px ;
    background-color: rgb(242, 229, 211);
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0,0,0,.3);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    font-size: 20px;
}

.input{
    height: 30px;
    width: 65%;
    padding: 5px;
    background-color: rgba(255,255,255,.7);
    border-color: rgba(255,255,255,.3);
}